  <% if params[:locale] == "en" || params[:locale].nil? %>
    <div class="all-frame margin-frame" data-navbar-target="pageup">
      <div class="inside-box">
        <div class="border-light-pink">
          <h3 class="underline-title"> <%= t('.mano') %> </h3>
        </div>
        <div class="border-light-pink">
          <h4 class="underline-title sub-title"> <%= t('.polish') %> </h4>
        </div>
        <div class="grid-container">
          <div class="grid-item">
            <% last_name = nil %>
            <% grouped_services = @services[:services_manicure_en].group_by { |service| service.name_en } %>

            <% grouped_services.each do |name_en, services| %>
              <% if last_name != name_en %>
                <% last_name = name_en %>
                <h5 class="marge" <%= 'style="margin-top: 36px;"' if last_name == grouped_services.keys.first %>>
                  <%= name_en %>
                </h5>
              <% end %>
              <% services.each do |service| %>
                <div class="inline">
                  <p class="text"> <%= service.sub_name_en %> </p>
                  <p> € <%= service.price %> </p>
                </div>
                <p class="left-aligned"> <%= service.description_en %> </p>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="border-light-pink upper-line-pink">
          <h3 class="underline-title"> <%= t('.pedi') %></h3>
        </div>
        <div class="border-light-pink">
          <h4 class="underline-title sub-title"> <%= t('.polish') %> </h4>
        </div>
        <div class="grid-container">
          <div class="grid-item">
            <% last_name = nil %>
            <% grouped_services = @services[:services_pedicure_en].group_by { |service| service.name_en } %>
            <% grouped_services.each do |name_en, services| %>
              <% if last_name != name_en %>
                <% last_name = name_en %>
                <h5 class="marge" <%= 'style="margin-top: 36px;"' if last_name == grouped_services.keys.first %>>
                  <%= name_en %>
                </h5>
              <% end %>
              <% services.each do |service| %>
                <div class="inline">
                  <p class="text"> <%= service.sub_name_en %> </p>
                  <p> € <%= service.price %> </p>
                </div>
                <p class="left-aligned"> <%= service.description_en %> </p>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="border-light-pink upper-line-pink">
          <h3 class="underline-title"> <%= t('.men') %></h3>
        </div>
        <div class="grid-container pad_all">
          <div class="grid-item padding-out-tel">
            <% last_name = nil %>
            <% grouped_services = @services[:services_men_en].group_by { |service| service.name_en } %>
            <% grouped_services.each do |name_en, services| %>
              <% if last_name != name_en %>
                <% last_name = name_en %>
                <h5 class="marge" <%= 'style="margin-top: 36px;"' if last_name == grouped_services.keys.first %>>
                  <%= name_en %>
                </h5>
              <% end %>
              <% services.each do |service| %>
                <div class="inline">
                  <p class="text"> <%= service.sub_name_en %> </p>
                  <p> € <%= service.price %> </p>
                </div>
                <p class="left-aligned"> <%= service.description_en %> </p>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="border-light-pink upper-line-pink">
          <h3 class="underline-title"> NAILS ART </h3>
        </div>
        <div class="grid-container pad_all">
          <div class="grid-item padding-out-tel">
            <% last_name = nil %>
            <% grouped_services = @services[:services_art_en].group_by { |service| service.name_en } %>
            <% grouped_services.each do |name_en, services| %>
              <% if last_name != name_en %>
                <% last_name = name_en %>
                <h5 class="marge" <%= 'style="margin-top: 36px;"' if last_name == grouped_services.keys.first %>>
                  <%= name_en %>
                </h5>
              <% end %>
              <% services.each do |service| %>
                <div class="inline">
                  <p class="text"> <%= service.sub_name_en %> </p>
                  <p> <%= service.description_en %> € <%= service.price %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="border-light-pink upper-line-pink">
          <h3 class="underline-title"> EXTRA </h3>
        </div>
        <div class="grid-container pad_all">
          <div class="grid-item padding-out-tel">
            <% last_name = nil %>
            <% grouped_services = @services[:services_extra_en].group_by { |service| service.name_en } %>
            <% grouped_services.each do |name_en, services| %>
              <% if last_name != name_en %>
                <% last_name = name_en %>
                <h5 class="marge" <%= 'style="margin-top: 36px;"' if last_name == grouped_services.keys.first %>>
                  <%= name_en %>
                </h5>
              <% end %>
              <% services.each do |service| %>
                <div class="inline">
                  <p class="text"> <%= service.sub_name_en %> </p>
                  <p> <%= service.description_en %> € <%= service.price %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="all-frame margin-frame" data-navbar-target="pageup">
      <div class="inside-box">
        <div class="border-light-pink">
          <h3 class="underline-title"> <%= t('.mano') %> </h3>
        </div>
        <div class="border-light-pink">
          <h4 class="underline-title sub-title"> <%= t('.polish') %> </h4>
        </div>
        <div class="grid-container">
          <div class="grid-item">
            <% last_name = nil %>
            <% grouped_services = @services[:services_manicure_gr].group_by { |service| service.name_gr } %>

            <% grouped_services.each do |name_gr, services| %>
              <% if last_name != name_gr %>
                <% last_name = name_gr %>
                <h5 class="marge" <%= 'style="margin-top: 36px;"' if last_name == grouped_services.keys.first %>>
                  <%= name_gr %>
                </h5>
              <% end %>
              <% services.each do |service| %>
                <div class="inline">
                  <p class="text"> <%= service.sub_name_gr %> </p>
                  <p> € <%= service.price %> </p>
                </div>
                <p class="left-aligned"> <%= service.description_gr %> </p>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="border-light-pink upper-line-pink">
          <h3 class="underline-title"> <%= t('.pedi') %></h3>
        </div>
        <div class="border-light-pink">
          <h4 class="underline-title sub-title"> <%= t('.polish') %> </h4>
        </div>
        <div class="grid-container">
          <div class="grid-item">
            <% last_name = nil %>
            <% grouped_services = @services[:services_pedicure_gr].group_by { |service| service.name_gr } %>
            <% grouped_services.each do |name_gr, services| %>
              <% if last_name != name_gr %>
                <% last_name = name_gr %>
                <h5 class="marge" <%= 'style="margin-top: 36px;"' if last_name == grouped_services.keys.first %>>
                  <%= name_gr %>
                </h5>
              <% end %>
              <% services.each do |service| %>
                <div class="inline">
                  <p class="text"> <%= service.sub_name_gr %> </p>
                  <p> € <%= service.price %> </p>
                </div>
                <p class="left-aligned"> <%= service.description_gr %> </p>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="border-light-pink upper-line-pink">
          <h3 class="underline-title"> <%= t('.men') %></h3>
        </div>
        <div class="grid-container pad_all">
          <div class="grid-item padding-out-tel">
            <% last_name = nil %>
            <% grouped_services = @services[:services_men_gr].group_by { |service| service.name_gr } %>
            <% grouped_services.each do |name_gr, services| %>
              <% if last_name != name_gr %>
                <% last_name = name_gr %>
                <h5 class="marge" <%= 'style="margin-top: 36px;"' if last_name == grouped_services.keys.first %>>
                  <%= name_gr %>
                </h5>
              <% end %>
              <% services.each do |service| %>
                <div class="inline">
                  <p class="text"> <%= service.sub_name_gr %> </p>
                  <p> € <%= service.price %> </p>
                </div>
                <p class="left-aligned"> <%= service.description_gr %> </p>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="border-light-pink upper-line-pink">
          <h3 class="underline-title"> NAILS ART </h3>
        </div>
        <div class="grid-container pad_all">
          <div class="grid-item padding-out-tel">
            <% last_name = nil %>
            <% grouped_services = @services[:services_art_gr].group_by { |service| service.name_gr } %>
            <% grouped_services.each do |name_gr, services| %>
              <% if last_name != name_gr %>
                <% last_name = name_gr %>
                <h5 class="marge" <%= 'style="margin-top: 36px;"' if last_name == grouped_services.keys.first %>>
                  <%= name_gr %>
                </h5>
              <% end %>
              <% services.each do |service| %>
                <div class="inline">
                  <p class="text"> <%= service.sub_name_gr %> </p>
                  <p> <%= service.description_gr %> € <%= service.price %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="border-light-pink upper-line-pink">
          <h3 class="underline-title"> EXTRA </h3>
        </div>
        <div class="grid-container pad_all">
          <div class="grid-item padding-out-tel">
            <% last_name = nil %>
            <% grouped_services = @services[:services_extra_gr].group_by { |service| service.name_gr } %>
            <% grouped_services.each do |name_gr, services| %>
              <% if last_name != name_gr %>
                <% last_name = name_gr %>
                <h5 class="marge" <%= 'style="margin-top: 36px;"' if last_name == grouped_services.keys.first %>>
                  <%= name_gr %>
                </h5>
              <% end %>
              <% services.each do |service| %>
                <div class="inline">
                  <p class="text"> <%= service.sub_name_gr %> </p>
                  <p> <%= service.description_gr %> € <%= service.price %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        </div>
      </div>
    </div>
  <% end %>
