  <section class="background-white frame-one">
    <div class="vertical icons back-first-parallax">
    <p class="follow <%= "font-for-greek" if params[:locale] == "gr" %>"> <%= t(".follow") %> </p>
      <a href="https://www.facebook.com/profile.php?id=100094305683230" target="_blank" class='middle'>
        <%= image_tag "icons8-facebook-128.png", class: "glow-effect" %>
      </a>
      <a href="https://www.instagram.com/tonicsociety/" target="_blank" class='middle'>
        <%= image_tag "icons8-instagram-128.png", class: "glow-effect" %>
      </a>
    </div>
    <div class="line-box">
      <div class="line-three"></div>
      <div class="line-four"></div>
      <div class="line-five"></div>
      <div class="line-six"></div>
      <div class="line-seven"></div>
      <div class="line-height"></div>
      <div class="line-nine"></div>
      <div class="line-ten"></div>
      <div class="line-eleven"></div>
      <div class="line-twelve"></div>
      <div class="line-thirteen"></div>
      <div class="line-fourteen"></div>
    </div>
  </section>
  <section class="frame-two">
    <div class="about-page-contact" data-navbar-target="pageup">
      <%= form_with model: @message, html: { class: "pad-form"} do |form| %>
        <%= form.fields_for :contact do |contact_form| %>
          <%= contact_form.label :first_name, t(".name"), required: true %>
          <%= contact_form.text_field :first_name %>
          <%= contact_form.label :last_name, t(".surname"), required: true %>
          <%= contact_form.text_field :last_name %>
          <%= contact_form.label :email, t(".mail") %>
          <%= contact_form.text_field :email, required: true %>
          <%= contact_form.label :phone_number, t(".phone") %>
          <%= contact_form.text_field :phone_number %>
        <% end %>
        <%= form.label :categories, t(".cats"), class: "cats" %>
        <div data-controller="new-messages">
          <% @categories.each do |category| %>
            <%= form.check_box category %>
            <%= form.label category %>
          <% end %>
        </div>
        <%= form.label :content, t(".message") %>
        <%= form.text_area :content, required: true, rows: 7, cols: 40 %>
        <div class="submit">
          <%= recaptcha_tags %>
          <%= form.submit t(".send"), class: "envoyer" %>
        </div>
      <% end %>
    </div>
  </section>
  <section class="frame-three box-in-the-center">
    <div class="last-section"> </div>
    <div class="box">
      <h5 class="title-contact <%= "font-for-greek" if params[:locale] == "gr" %>"> <%= t(".title") %> </h5>
      <p class="font <%= "font-for-greek" if params[:locale] == "gr" %>">  <%= t(".address") %> </p>
      <a href="https://goo.gl/maps/6FMpm7rWVBh5NCRQ6" class="font <%= "font-for-greek" if params[:locale] == "gr" %>"> <%= t(".map") %> </a>
      <h5 class="marge-up title-contact <%= "font-for-greek" if params[:locale] == "gr" %>"> <%= t(".phone") %> </h5>
      <a href="tel:+30 211 001 5271" class="font"> +30 211 001 5271 </a>
      <h5 class="marge-up title-contact"> <%= t(".mail") %> </h5>
      <a href="mailto:contact@tonic-society.com" class="font"> contact@tonic-society.com </a>
    </div>
  </section>
