  <% if params[:locale] == "en" || params[:locale].nil? %>
    <div class="all-jewelries" data-navbar-target="pageup" data-controller="jewelries">
      <div class="block-one">
        <p class="style-sentence center-sentence">
          <%= t('.intertitle_one') %>
        </p>
          <div class="filter-wrapper border-center">
            <p data-action="click->jewelries#displayFiltres"><%= t('.cat') %></p>
            <p data-action="click->jewelries#displayFiltres"><%= t('.theme') %></p>
          </div>
          <div class="filter-wrapper">
            <div class="column">
              <% @categories_en.each do |category| %>
                <div><%= link_to category, jewelries_path(category: category) %></div>
              <% end %>
            </div>
            <div class="column">
              <% @themes_en.each do |theme| %>
                <div><%= link_to theme, jewelries_path(theme: theme) %></div>
              <% end %>
            </div>
          </div>
        <div class="grid-container-menu" data-jewelries-target="lineup">
          <% @fashionables.each_with_index do |jewelry, index| %>
              <div class="span_one item">
                <%= link_to jewelry_path(jewelry) do %>
                  <div><%= image_tag(jewelry.picture) %></div>
                  <div class="name"><%= jewelry.name_en %></div>
                <% end %>
              </div>
            <% if index == 1 %>
              <div class="item span_two card-artist">
                <h3 class="artist-name"> <%= jewelry.artist.name_en %> </h3>
                <%= jewelry.artist.description_en %>
              </div>
            <% end %>
          <% end %>
          <% @flowers_giampouras.each do |jewelry| %>
              <div class="span_one item">
                <%= link_to jewelry_path(jewelry) do %>
                  <div><%= image_tag(jewelry.picture) %></div>
                  <div class="name"><%= jewelry.name_en %></div>
                <% end %>
              </div>
          <% end %>
          <% @timeless.each do |jewelry| %>
            <% if jewelry.name_en == "Textured Cuff Bracelet" || jewelry.name_en == "Adjustable Bright Bracelet" %>
                <div class="span_two item order_one">
                  <%= link_to jewelry_path(jewelry) do %>
                    <div><%= image_tag(jewelry.picture) %></div>
                    <div class="name"><%= jewelry.name_en %></div>
                  <% end %>
                </div>
            <% else %>
                <div class="span_one item order_two">
                  <%= link_to jewelry_path(jewelry) do %>
                    <div><%= image_tag(jewelry.picture) %></div>
                    <div class="name"><%= jewelry.name_en %></div>
                  <% end %>
                </div>
            <% end %>
          <% end %>
          <div class="span_three item order_five no-tel">
            <p class="style-sentence center-sentence">
              <%= t('.intertitle_two') %>
            </p>
          </div>
          <% @lava_stone.each_with_index do |jewelry, index| %>
            <div class="span_one item order_six">
              <%= link_to jewelry_path(jewelry) do %>
                <div><%= image_tag(jewelry.picture) %></div>
                <div class="name"><%= jewelry.name_en %></div>
              <% end %>
            </div>
            <% if index == 1 %>
              <div class="item span_two card-artist order_seven">
                <h3 class="artist-name"> <%= jewelry.artist.name_en %> </h3>
                <%= jewelry.artist.description_en %>
              </div>
            <% end %>
          <% end %>
          <% @faith.each do |jewelry| %>
            <div class="span_one item order_eight">
              <%= link_to jewelry_path(jewelry) do %>
                <div><%= image_tag(jewelry.picture) %></div>
                <div class="name"><%= jewelry.name_en %></div>
              <% end %>
            </div>
          <% end %>
          <% @flowers_kanale.each do |jewelry| %>
            <div class="span_one item order_nine">
              <%= link_to jewelry_path(jewelry) do %>
                <div><%= image_tag(jewelry.picture) %></div>
                <div class="name"><%= jewelry.name_en %></div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="all-jewelries" data-navbar-target="pageup" data-controller="jewelries">
      <div class="block-one">
        <p class="style-sentence center-sentence <%= "font-for-greek style" if params[:locale] == "gr" %>">
          <%= t('.intertitle_one') %>
        </p>
        <div class="filter-wrapper border-center">
          <p data-action="click->jewelries#displayFiltres"><%= t('.cat') %></p>
          <p data-action="click->jewelries#displayFiltres"><%= t('.theme') %></p>
        </div>
        <div class="filter-wrapper">
          <div class="column">
            <% @categories_gr.each do |category| %>
              <div><%= link_to category, jewelries_path(category: category) %></div>
            <% end %>
          </div>
          <div class="column">
            <% @themes_gr.each do |theme| %>
              <div><%= link_to theme, jewelries_path(theme: theme) %></div>
            <% end %>
          </div>
        </div>
        <div class="grid-container-menu greek-top" data-jewelries-target="lineup">
          <% @fashionables.each_with_index do |jewelry, index| %>
            <div class="span_one item">
              <%= link_to jewelry_path(jewelry) do %>
                <div><%= image_tag(jewelry.picture) %></div>
                <div class="name"><%= jewelry.name_gr %></div>
              <% end %>
            </div>
            <% if index == 1 %>
              <div class="item span_two card-artist">
                <h3 class="artist-name"> <%= jewelry.artist.name_gr %> </h3>
                <%= jewelry.artist.description_gr %>
              </div>
            <% end %>
          <% end %>
          <% @flowers_giampouras.each do |jewelry| %>
            <div class="span_one item">
              <%= link_to jewelry_path(jewelry) do %>
                <div><%= image_tag(jewelry.picture) %></div>
                <div class="name"><%= jewelry.name_gr %></div>
              <% end %>
            </div>
          <% end %>
          <% @timeless.each do |jewelry| %>
            <% if jewelry.name_en == "Textured Cuff Bracelet" || jewelry.name_en == "Adjustable Bright Bracelet" %>
              <div class="span_two item order_one">
                <%= link_to jewelry_path(jewelry) do %>
                  <div><%= image_tag(jewelry.picture) %></div>
                  <div class="name"><%= jewelry.name_gr %></div>
                <% end %>
              </div>
            <% else %>
              <div class="span_one item order_two">
                <%= link_to jewelry_path(jewelry) do %>
                  <div><%= image_tag(jewelry.picture) %></div>
                  <div class="name"><%= jewelry.name_gr %></div>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <div class="span_three item order_five no-tel">
            <p class="style-sentence center-sentence <%= "font-for-greek style" if params[:locale] == "gr" %>">
              <%= t('.intertitle_two') %>
            </p>
          </div>
          <% @lava_stone.each_with_index do |jewelry, index| %>
            <div class="span_one item order_six">
              <%= link_to jewelry_path(jewelry) do %>
                <div><%= image_tag(jewelry.picture) %></div>
                <div class="name"><%= jewelry.name_gr %></div>
              <% end %>
            </div>
            <% if index == 1 %>
              <div class="item span_two card-artist order_seven">
                <h3 class="artist-name"> <%= jewelry.artist.name_gr %> </h3>
                <%= jewelry.artist.description_gr %>
              </div>
            <% end %>
          <% end %>
          <% @faith.each do |jewelry| %>
            <div class="span_one item order_eight">
              <%= link_to jewelry_path(jewelry) do %>
                <div><%= image_tag(jewelry.picture) %></div>
                <div class="name"><%= jewelry.name_gr %></div>
              <% end %>
            </div>
          <% end %>
          <% @flowers_kanale.each do |jewelry| %>
            <div class="span_one item order_nine">
              <%= link_to jewelry_path(jewelry) do %>
                <div><%= image_tag(jewelry.picture) %></div>
                <div class="name"><%= jewelry.name_gr %></div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
