  <% if params[:locale] == "en" || params[:locale].nil? %>
    <div class="all-jewelries" data-navbar-target="pageup">
      <div class="block-one">
        <p class="style-sentence center-sentence">
          <%= t('.intertitle_one') %>
        </p>
        <div class="filter-wrapper">
          <p> THEME </p>
          <% if false  %>
          <%= link_to "Flowers", @flowers %>
          <% end %>
        </div>
        <div class="grid-container">
          <% @jewelries.where(artist_id: Artist.find_by(name_en: "Vasilis Giampouras")).where(theme_en: "Fashionable").each_with_index do |jewelry, index| %>
            <div class="span_one item">
              <div><%= image_tag(jewelry.picture) %></div>
              <div class="name"><%= jewelry.name_en %></div>
            </div>
            <% if index == 1 %>
              <div class="item span_two card-artist">
                <h3 class="artist-name"> <%= jewelry.artist.name_en %> </h3>
                <%= jewelry.artist.description_en %>
              </div>
            <% end %>
          <% end %>
          <% @jewelries.where(artist_id: Artist.find_by(name_en: "Vasilis Giampouras")).where( theme_en: "Flowers").each do |jewelry| %>
            <div class="span_one item">
              <div><%= image_tag(jewelry.picture) %></div>
              <div class="name"><%= jewelry.name_en %></div>
            </div>
          <% end %>
          <% @jewelries.where(artist_id: Artist.find_by(name_en: "Vasilis Giampouras")).where(theme_en: "Timeless").each do |jewelry| %>
            <% if jewelry.name_en == "Textured Cuff Bracelet" || jewelry.name_en == "Adjustable Bright Bracelet" %>
              <div class="span_two item order_one">
                <div><%= image_tag(jewelry.picture) %></div>
                <div class="name"><%= jewelry.name_en %></div>
              </div>
            <% else %>
              <div class="span_one item order_two">
                <div><%= image_tag(jewelry.picture) %></div>
                <div class="name"><%= jewelry.name_en %></div>
              </div>
            <% end %>
          <% end %>
          <div class="span_three item order_five">
            <p class="style-sentence center-sentence">
              <%= t('.intertitle_two') %>
            </p>
          </div>
          <% @jewelries.where(artist_id: Artist.find_by(name_en: "Maria Kanala")).where(theme_en: "Lava Stone").each_with_index do |jewelry, index| %>
            <div class="span_one item order_six">
              <div><%= image_tag(jewelry.picture) %></div>
              <div class="name"><%= jewelry.name_en %></div>
            </div>
            <% if index == 1 %>
              <div class="item span_two card-artist order_seven">
                <h3 class="artist-name"> <%= jewelry.artist.name_en %> </h3>
                <%= jewelry.artist.description_en %>
              </div>
            <% end %>
          <% end %>
          <% @jewelries.where(artist_id: Artist.find_by(name_en: "Maria Kanala")).where(theme_en: "Faith").each do |jewelry| %>
            <div class="span_one item order_eight">
              <div><%= image_tag(jewelry.picture) %></div>
              <div class="name"><%= jewelry.name_en %></div>
            </div>
          <% end %>
          <% @jewelries.where(artist_id: Artist.find_by(name_en: "Maria Kanala")).where(theme_en: "Flowers").each do |jewelry| %>
            <div class="span_one item order_nine">
              <div><%= image_tag(jewelry.picture) %></div>
              <div class="name"><%= jewelry.name_en %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="all-jewelries" data-navbar-target="pageup">
      <div class="block-one">
        <p class="style-sentence center-sentence">
          <%= t('.intertitle_one') %>
        </p>
        <div class="filter-wrapper">Header</div>
        <div class="grid-container">
          <% @jewelries.where(artist_id: Artist.find_by(name_en: "Vasilis Giampouras")).where(theme_en: "Fashionable").each_with_index do |jewelry, index| %>
            <div class="span_one item">
              <div><%= image_tag(jewelry.picture) %></div>
              <div class="name"><%= jewelry.name_gr %></div>
            </div>
            <% if index == 1 %>
              <div class="item span_two card-artist">
                <h3 class="artist-name"> <%= jewelry.artist.name_gr %> </h3>
                <%= jewelry.artist.description_gr %>
              </div>
            <% end %>
          <% end %>
          <% @jewelries.where(artist_id: Artist.find_by(name_en: "Vasilis Giampouras")).where( theme_en: "Flowers").each do |jewelry| %>
            <div class="span_one item">
              <div><%= image_tag(jewelry.picture) %></div>
              <div class="name"><%= jewelry.name_gr %></div>
            </div>
          <% end %>
          <% @jewelries.where(artist_id: Artist.find_by(name_en: "Vasilis Giampouras")).where(theme_en: "Timeless").each do |jewelry| %>
            <% if jewelry.name_en == "Textured Cuff Bracelet" || jewelry.name_en == "Adjustable Bright Bracelet" %>
              <div class="span_two item order_one">
                <div><%= image_tag(jewelry.picture) %></div>
                <div class="name"><%= jewelry.name_gr %></div>
              </div>
            <% else %>
              <div class="span_one item order_two">
                <div><%= image_tag(jewelry.picture) %></div>
                <div class="name"><%= jewelry.name_gr %></div>
              </div>
            <% end %>
          <% end %>
          <div class="span_three item order_five">
            <p class="style-sentence center-sentence <%= "font-for-greek style" if params[:locale] == "gr" %>">
              <%= t('.intertitle_two') %>
            </p>
          </div>
          <% @jewelries.where(artist_id: Artist.find_by(name_en: "Maria Kanala")).where(theme_en: "Lava Stone").each_with_index do |jewelry, index| %>
            <div class="span_one item order_six">
              <div><%= image_tag(jewelry.picture) %></div>
              <div class="name"><%= jewelry.name_gr %></div>
            </div>
            <% if index == 1 %>
              <div class="item span_two card-artist order_seven">
                <h3 class="artist-name"> <%= jewelry.artist.name_gr %> </h3>
                <%= jewelry.artist.description_gr %>
              </div>
            <% end %>
          <% end %>
          <% @jewelries.where(artist_id: Artist.find_by(name_en: "Maria Kanala")).where(theme_en: "Faith").each do |jewelry| %>
            <div class="span_one item order_eight">
              <div><%= image_tag(jewelry.picture) %></div>
              <div class="name"><%= jewelry.name_gr %></div>
            </div>
          <% end %>
          <% @jewelries.where(artist_id: Artist.find_by(name_en: "Maria Kanala")).where(theme_en: "Flowers").each do |jewelry| %>
            <div class="span_one item order_nine">
              <div><%= image_tag(jewelry.picture) %></div>
              <div class="name"><%= jewelry.name_gr %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
