<div class="all-jewelries direction-column" data-navbar-target="pageup">
  <div class="center">
    <h2> <%= @jewelry.name_en %></h2>
    <div> From <%= @jewelry.artist.name_en %></div>
  </div>
  <div class="side-to-side">
    <div class="tel-middle-space">
      <%= image_tag(@jewelry.picture, class: "pics-dim") %>
    </div>
    <div class="width-text">
      <%= @jewelry.description_en %>
      <p class="price-center"><%= @jewelry.price %> E</p>
    </div>
  </div>
</div>
