<% if params[:locale] == "en" || params[:locale].nil? %>
  <div class="all-jewelries direction-column" data-navbar-target="pageup">
    <div class="center">
      <h2> <%= @jewelry.name_en %></h2>
      <div> <%= t('.from') %> <%= @jewelry.artist.name_en %></div>
    </div>
    <div class="side-to-side">
      <div class="tel-middle-space">
        <%= image_tag(@jewelry.picture, alt: @jewelry.category_en, class: "pics-dim") %>
      </div>
      <div class="width-text">
        <%= @jewelry.description_en %>
        <p class="price-center"><%= @jewelry.price %> €</p>
      </div>
    </div>
  </div>
<% else %>
  <div class="all-jewelries direction-column" data-navbar-target="pageup">
    <div class="center">
      <h2> <%= @jewelry.name_en %></h2>
      <div> <%= t('.from') %> <%= @jewelry.artist.name_gr %></div>
    </div>
    <div class="side-to-side">
      <div class="tel-middle-space">
        <%= image_tag(@jewelry.picture, alt: @jewelry.category_gr, class: "pics-dim") %>
      </div>
      <div class="width-text">
        <%= @jewelry.description_gr %>
        <p class="price-center"><%= @jewelry.price %> €</p>
      </div>
    </div>
  </div>
<% end %>
