  <% unless current_page?(contacts_path(locale:params[:locale])) %>
    <footer class="footer <%= "fixed-down" if current_page?( products_path) || current_page?(jewelries_path) %>">
      <div class="icon">
        <a href="https://www.facebook.com/profile.php?id=100094305683230" target="_blank">
          <%= image_tag "icons8-facebook-128.png", class: "facebook" %>
        </a>
        <a href="https://www.instagram.com/tonicsociety/" target="_blank">
          <%= image_tag "icons8-instagram-128.png", class: "insta" %>
        </a>
      </div>
      <div class="contact-footer new_color">
        <div class="p-footer">
          <p>  <%= t(".address") %> </p>
          <a href="tel:+30 211 001 5271" class="new_color"> +30 211 001 5271 </a>
          <a href="mailto:contact@tonic-society.com" class="new_color"> contact@tonic-society.com </a>
        </div>
      </div>
    </footer>
    <section class="<%= "section-off" if current_page?(services_path(locale:params[:locale])) %>"> </section>
  <% end %>
  </section>
</div>
