<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <p> <%= t('.services') %> </p>
    <% end %>
    <%= link_to "#", class: "navbar-brand" do %>
      <p> <%= t('.products') %> </p>
    <% end %>
    <%= link_to "#", class: "navbar-brand" do %>
      <p> <%= t('.jewelries') %> </p>
    <% end %>
    <%= image_tag "TONIC_logo_site.jpg" %>
     <%= link_to "#", class: "navbar-brand" do %>
      <p> <%= t('.about') %> </p>
    <% end %>
     <%= link_to "#", class: "navbar-brand" do %>
      <p> <%= t('.contact') %> </p>
    <% end %>
    <%= link_to "ENG", root_path(locale: "en"), class:"underlin" %>
    <%= link_to "GR", root_path(locale: "gr"), class:"underlin"%>
  </div>
</div>
