<div data-controller="navbar">
  <div class="nav-comp">
    <div class="booking_bar new_color" data-navbar-target="upbar">
      <p class="opacity" data-navbar-target="textbar"> <%= t('.for_booking') %>
       <a href="tel:+30 211 001 5271" class="new_color"> +30 211 001 5271 </a> <p>
    </div>
    <div class="<%= "home-page" if params[:locale].nil? || current_page?(root_path(locale: params[:locale])) %>">
      <nav class="navbar navbar-expand-sm navbar-light navbar-lewagon back_color gradient <%= "display-color-white" if current_page?(contacts_path(locale:params[:locale])) %>" data-navbar-target="navigation">
        <div class="navbar-lewagon-flex">
          <%= link_to t('.services'), services_path, class: "navbar-brand padding margin new_color" %>
          <%= link_to t('.products'), products_path, class: "navbar-brand padding new_color" %>
          <%= link_to t('.jewelries'), jewelries_path, class: "navbar-brand padding new_color" %>
        </div>
        <%= image_tag "TONIC_logo.png", class: "logo" %>
        <div class="navbar-lewagon-flex-two">
          <%= link_to t('.about'), root_path, class: "navbar-brand padding new_color" %>
          <%= link_to t('.contact'), contacts_path, class: "navbar-brand padding new_color" %>
            <% if params[:locale] == "en" || params[:locale].nil? %>
              <%= link_to root_path(locale: "gr"),  class:"greek" do %>
                <% image_tag("greek_flag.png", width: 28) %>
              <% end %>
            <% else %>
              <%= link_to root_path(locale: "en"),  class:"english" do %>
                <% image_tag("english_flag.png", width: 28) %>
              <% end %>
            <% end %>
        </div>
      </nav>
    </div>
  </div>
  <nav id="nav-tel">
    <div class="booking_bar <%= "seen_tel" unless current_page?(contacts_path(locale:params[:locale])) %>" data-navbar-target="upbar">
      <p class="opacity" data-navbar-target="textbar"> <a href="tel:+30 211 001 5271"> +30 211 001 5271 </a> <p>
    </div>
    <div class="button-down">
      <div class="flex back_color_tel <%= "display-color-white" if current_page?(contacts_path(locale:params[:locale])) %>" data-navbar-target="navigation">
        <div style="width: 36px"></div>
        <%= image_tag "TONIC_logo.png", data: { navbar_target: "logo" }, class: "logo" %>
        <div>
          <%= image_tag "menu.png", height: 30, width: 30, data: { action: "click->navbar#displayMenu" }, class: "menu_tel" %>
        </div>
      </div>
    </div>

    <div data-navbar-target="navtel" class="menu opacity back_color <%= "display-menu" if params[:language].present? %>">
      <div class="navbar-lewagon-flex">
        <%= link_to t('.services'), services_path, class: "navbar-brand padding margin new_color dropdown-items #{params[:language].present? ? '' : 'd-none'}", data: { navbar_target: "menuLink" } %>
        <%= link_to t('.products'), products_path, class: "navbar-brand padding dropdown-items new_color #{params[:language].present? ? '' : 'd-none'}", data: { navbar_target: "menuLink" } %>
        <%= link_to t('.jewelries'), jewelries_path, class: "navbar-brand padding dropdown-items new_color #{params[:language].present? ? '' : 'd-none'}", data: { navbar_target: "menuLink" } %>
      </div>
      <div class="navbar-lewagon-flex padd">
        <div style="width: 30px; opacity: 0"></div>
        <%= link_to t('.about'), root_path + href="#about_link", class: "navbar-brand padding new_color #{params[:language].present? ? '' : 'd-none'}", data: { navbar_target: "menuLink" } %>
        <%= link_to t('.contact'), contacts_path, class: "navbar-brand padding new_color #{params[:language].present? ? '' : 'd-none'}", data: { navbar_target: "menuLink" } %>
        <div style="width: 30px; opacity: 0"></div>
      </div>
      <div class="navbar-lewagon-flex padding">
        <div style="width: 30px; opacity: 0"></div>
        <%= link_to t('.book_now'), "https://widget.treatwell.gr/place/100049725/menu/", class: "book-link", style:"color: #af8f3c" %>
        <%= image_tag "menu.png", height: 30, width: 30, style: "opacity: 0", data: { navbar_target: "burgerMenu", action: "click->navbar#displayMenu" } %>
      </div>
      <div style="text-align: center">
          <% if params[:locale] == "en" || params[:locale].nil? %>
            <%= link_to url_for(locale: "gr", language: true), class: "#{params[:language].present? ? '' : 'd-none'}", data: { turbolinks_action: "replace", navbar_target: "menuLink" } do %>
            <% image_tag "greek_flag.png", width: 28, data: { prevent_default: true } %>
            <% end %>
          <% else %>
            <%= link_to url_for(locale: "en", language: true), class: "#{params[:language].present? ? '' : 'd-none'}", data: { turbolinks_action: "replace", navbar_target: "menuLink" } do %>
              <% image_tag "english_flag.png", width: 28, data: { prevent_default: true } %>
            <% end %>
          <% end %>
      </div>
    </div>
  </nav>
