<div data-controller="navbar">
  <div class="nav-comp">
    <div class="booking_bar" data-navbar-target="upbar">
      <p class="opacity" data-navbar-target="textbar"> For booking or any questions, please contact us  <a href="tel:+30 693 471 3555"> +30 693 471 3555 </a> <p>
    </div>
    <div class="<%= "home-page" if params[:locale].nil? || current_page?(root_path(locale: params[:locale])) %>">
      <div class="navbar navbar-expand-sm navbar-light navbar-lewagon back_color" data-navbar-target="navigation">
        <div class="navbar-lewagon-flex">
          <%= link_to t('.services'), services_path, class: "navbar-brand padding margin" %>
          <%= link_to t('.products'), products_path, class: "navbar-brand padding" %>
          <%= link_to t('.jewelries'), jewelries_path, class: "navbar-brand padding" %>
        </div>
        <%= image_tag "TONIC_logo.png", class: "logo" %>
        <div class="navbar-lewagon-flex-two">
          <%= link_to t('.about'), root_path, class: "navbar-brand padding" %>
          <%= link_to t('.contact'), contacts_path, class: "navbar-brand padding" %>
            <% if params[:locale] == "en" || params[:locale].nil? %>
              <%= link_to root_path(locale: "gr"),  class:"greek" do %>
                <% image_tag("greek_flag.png", width: 28) %>
              <% end %>
            <% else %>
              <%= link_to root_path(locale: "en"),  class:"english" do %>
                <% image_tag("english_flag.png", width: 28) %>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="nav-tel">
    <div class="booking_bar seen_tel" data-navbar-target="upbar">
      <p class="opacity" data-navbar-target="textbar"> <a href="tel:+30 693 471 3555"> +30 693 471 3555 </a> <p>
    </div>
    <div class="flex back_color_tel <%= "display-color-white" if current_page?(contacts_path(locale:params[:locale])) %>" data-navbar-target="navigation">
      <div style="width: 36px"></div>
      <%= image_tag "TONIC_logo.png", data: { navbar_target: "logo" }, class: "logo" %>
      <div>
        <%= image_tag "menu.png", height: 30, width: 30, data: { action: "click->navbar#displayMenu" }, class: "menu_tel" %>
      </div>
    </div>
    <div data-navbar-target="navtel" class="menu opacity back_color">
      <div class="navbar-lewagon-flex">
        <%= link_to t('.services'), services_path, class: "navbar-brand padding margin dropdown-items" %>
        <%= link_to t('.products'), products_path, class: "navbar-brand padding dropdown-items" %>
        <%= link_to t('.jewelries'), jewelries_path, class: "navbar-brand padding dropdown-items" %>
      </div>
      <div class="navbar-lewagon-flex padd">
        <div style="width: 30px; opacity: 0"></div>
        <%= link_to t('.about'), root_path + href="#about_link", class: "navbar-brand padding" %>
        <%= link_to t('.contact'), contacts_path, class: "navbar-brand padding" %>
        <%= image_tag "menu.png", height: 30, width: 30, style: "opacity: 0", data: { action: "click->navbar#displayMenu" } %>
      </div>
      <div style="text-align: center">
          <% if params[:locale] == "en" || params[:locale].nil? %>
            <%= link_to url_for(locale: "gr", language: true), data: { turbolinks_action: "replace" } do %>
            <% image_tag "greek_flag.png", width: 28, data: {action: "click->navbar#stayOpen", prevent_default: true } %>
            <% end %>
          <% else %>
            <%= link_to url_for(locale: "en", language: true), data: { turbolinks_action: "replace" } do %>
              <% image_tag "english_flag.png", width: 28, data: {action: "click->navbar#stayOpen", prevent_default: true } %>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
