<%
  set_meta_tags(
    title: "Nail Salon Tonic in Athens",
    description: "Tonic is the nail salon near me, I can do manicure, pedicure. this beauty salon use OPI, ESSIE products. They sell essie cuticle oil and make your feet and hands a beautiful girl",
    keywords: "nail salon, beauty salon, manicure, pedicure, athens, beauty salon images, OPI, ESSIE"
  )
%>
<section class="height">

  <div class="photos <%= @pictures %>"> </div>
</section>
<section class="height" id="about_link">
  <main class="about_page" data-navbar-target="pageup">
    <h1 class="title new_color">  <%= t('.about') %> </h1>
    <div class="about_article">
      <div class="pics_shop">
        <div class="frame_two">
        </div>
          <q class="style-sentence <%= "font-for-greek style" if params[:locale] == "gr" %>">
            <%= t('.intertitle_one') %>
          </q>
        <div class="frame_three">
        </div>
      </div>
      <h5 class="title"> <%= t('.undertitle') %> </h5>
      <article class="about_text">
        <%= t('.text') %>
      </article>
    </div>
  </main>
