<section class="height">

  <div class="photos <%= @pictures %>"> </div>
</section>
<section class="height" id="about_link">
  <div class="about_page" data-navbar-target="pageup">
    <h1 class="title new_color">  <%= t('.about') %> </h1>
    <div class="about_article">
      <div class="pics_shop">
        <div class="frame_one">
        </div>
        <p class="style-sentence <%= "font-for-greek" if params[:locale] == "gr" %>">
          <%= t('.intertitle') %>
        </p>
          <div class="frame_two">
        </div>
      </div>
      <h5 class="title"> <%= t('.undertitle') %> </h5>
      <p class="about_text">
        <%= t('.text') %>
      </p>
    </div>
  </div>
