<!DOCTYPE html>
<html lang="eu-EU">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag 'tonic-favicon.png' %>
    <%= favicon_link_tag 'tonic-favicon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="Tonic Nails - beauty salon in Kolonaki Athens.">
    <meta property="og:image" content="facebook-card.jpg">
    <meta property="og:description" content="Elevate your style with Tonic Nails' expert manicures and pedicures. Experience luxury and sophistication like never before.">
    <meta property="og:site_name" content="Tonic Nails"/>
    <%= display_meta_tags site: "Tonic - Nails & Jewelry in Kolonaki, Athens",
      keywords: request.original_url.include?("gr") ? "Τonic, πολυτέλεια, νύχια, κοσμήματα, Κολωνάκι, Αθήνα, Ελλάδα, Μανικιούρ, Πεντικιούρ, Κέντρο ομορφιάς" : "Tonic, luxury, nails, jewelry, Kolonaki, Athens, Greece, Nail salon, Manicure, Pedicure, Beauty salon, Nail treatments, Nail design, Nail extensions"
    %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="<%= "display-color-tonic" if current_page?(services_path(locale:params[:locale])) %>">
    <%= render "shared/navbar" %>
    <%= turbo_frame_tag :flashes do %>
      <%= render 'shared/flashes' %>
    <% end %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
