<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags site: "Tonic - Nails & Jewelry in Kolonaki, Athens",
      keywords: request.original_url.include?("gr") ? "tonic, πολυτέλεια, νύχια, κοσμήματα, κολωνάκι, αθήνα, ελλάδα" : "tonic, luxury, nails, jewelry, kolonaki, athens, greece"
    %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="<%= "display-color-tonic" if current_page?(services_path(locale:params[:locale])) %>">
    <%= render "shared/navbar" %>
    <%= turbo_frame_tag :flashes do %>
      <%= render 'shared/flashes' %>
    <% end %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
